//Some helpers for rapid prototyping and debugging. Not really semantic, but can help!

.hide { display:none; }
.left { float:left; }
.right { float:right; }
.clear { clear:both; height:1px; font-size:1px; line-height:1px; }

//Throw these in when you just need to see an object show up somewhere

.box-fill {
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.small-box {
  width: 50px;
  height: 50px;
  z-index: 9999;
}

.medium-box {
  width: 200px;
  height: 200px;
  z-index: 9999;
}
.large-box {
  width: 500px;
  height: 500px;
  z-index: 9999;
}

@mixin make-box($width:100px, $height:100px, $color:tomato) {
  width: $width;
  height: $height;
  background-color: $color;
  z-index: 9999;
}
